table
  tr
    th(colspan="3" align="center")
      h1 Meilleurs scores
  tr
  if score1 !== undefined
    td.score= score1.nom
    td.score= score1.score
    td.score= score1.dategame
  tr
  if score2 !== undefined
    td.score= score2.nom
    td.score= score2.score
    td.score= score2.dategame
  tr
  if score3 !== undefined
    td.score= score3.nom
    td.score= score3.score
    td.score= score3.dategame
  tr
  if score4 !== undefined
    td.score= score4.nom
    td.score= score4.score
    td.score= score4.dategame
  tr
  if score5 !== undefined
    td.score= score5.nom
    td.score= score5.score
    td.score= score5.dategame
  tr
  if score6 !== undefined
    td.score= score6.nom
    td.score= score6.score
    td.score= score6.dategame
  tr
  if score7 !== undefined
    td.score= score7.nom
    td.score= score7.score
    td.score= score7.dategame
  tr
  if score8 !== undefined
    td.score= score8.nom
    td.score= score8.score
    td.score= score8.dategame
  tr
  if score9 !== undefined
    td.score= score9.nom
    td.score= score9.score
    td.score= score9.dategame
  tr
  if score10 !== undefined
    td.score= score10.nom
    td.score= score10.score
    td.score= score10.dategame
