doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style.css")
    link(rel="icon" type="image/png" href="images/favicon.png")
    title Hop hop hop
  body
    include includes/header.pug
    #mainWrapper
      form(style="display:none")
        input#numPlayers(name="numPlayers" value=numPlayers)
        input#player1(name="player1" value=player1)
        input#player2(name="player2" value=player2)
        input#player3(name="player3" value=player3)
        input#player4(name="player4" value=player4)
        input#player5(name="player5" value=player5)
        input#player6(name="player6" value=player6)
        input#IA1(name="IA1" value=ordi1)
        input#IA2(name="IA2" value=ordi2)
        input#IA3(name="IA3" value=ordi3)
        input#IA4(name="IA4" value=ordi4)
        input#IA5(name="IA5" value=ordi5)
        input#IA6(name="IA6" value=ordi6)
        input#level(name="level" value=level)
        input#numColors(name="numColors" value=numColors)
        input#role(name="role" value=role)
        input#gameId(name="gameId" value=gameId)
      p#joinGame Demandez à vos amis de rejoindre la partie n° #{gameId}
      #gameZone
        section#leftPanel
        section#board
        section#rightPanel
          img#muteButton(src="images/unmute.png")
          p#rules
            a(href="#") Voir les règles
          p
            a(href="") Quitter
      #modal.modal(style="display:none")
        // Modal content
        .modal-content
          span.close ×
          p#modalText
          a#restartButton.button(href="#" onclick="Client.restart(true)") REJOUER
          a#quitButton.button(href="#" onclick=" window.open('/', '_self')") QUITTER
      #rulesModal.modal(style="display:none")
        // Modal content
        .modal-content
          span.close ×
          p
            | Chacun joue tour à tour un seul pion. Un mouvement se déroule selon deux modes, au choix et de façon exclusive :
            br
            | - Déplacement d'une case dans une des six directions du plateau.
            br
            | - Déplacement par sauts successifs (au cours d'un seul tour) :
            br
            | Chaque saut se fait au-dessus d'un pion d'une couleur quelconque, de façon symétrique par rapport à ce pion, et selon l'une des directions du plateau. La règle de base indique que le pion par-dessus lequel on saute doit être directement adjacent, une variante fréquemment jouée par les professionnels autorise les "sauts longs" (c’est la version choisie pour ce projet). Dans tous les cas, le saut ne peut être autorisé que si aucun autre pion ne se trouve sur la trajectoire du saut ni dans la case d'arrivée, à l'exception du pion qui sert de pivot.
            br
            | Règles supplémentaires :
            | Un saut en arrière n’est autorisé que si la case finale est située en avant de la case de départ.
            | Il est interdit de jouer le coup inverse du dernier coup.
            | Un pion peut être déplacé dans tous les triangles de départ tant que la case n’est pas occupée.
    include includes/footer.pug
    script(src="/socket.io/socket.io.js")
    script(src="shared.js")
    script(src="client.game.js")
    script(src="game.js")
